@charset "UTF-8";

/*fonte page*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursiva;
    --fonte3: 'Sriracha', cursiva;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

/*TÃTULO*/
header > h1 {
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
}

/*SUBTITULO*/
header > h2 {
    font-size: 20px;
    padding-bottom: 50px;
    font-weight: lighter;
}

/*LINK*/
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
    color: rgb(29, 29, 212);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.178);
    display: inline-block;
    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10pxp;
}